
extends layout
block js
  script(src="/javascripts/isotope.js")
  script(src="/javascripts/layzr.js")
  script(src="/javascripts/index.js")
block css
  link(rel='stylesheet', href='/stylesheets/index.css')
block content

  div(id="pg_home" _x='nb')
  div.full-wrapper
    if (items)
      div(class="bd-container clearfix")
        each val, index in items
          div(class="isotope-item #{val.type}" display="none")
            a(title="" href="/d/#{val._id}")
              div(class="iop-overlay")
                div(class="iop-con")
                  p #{val.label}
                  s(class="iop-rad")
              div(class="iop-thumb" )
                img(src="/images/loading.jpeg" height="#{val.s_height}" data-layzr="#{val.img}" alt="#{val.label}" border='0')
      